@charset "UTF-8";

#res {
    background-color: rgb(0, 255, 157);
    color: antiquewhite;
    font: normal 18pt arial;
}

body {
     background-image: linear-gradient(to left, #F1D8C9, #F2C3A7);
     font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: antiquewhite;
    width: 500px;
    height: 650px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    border-radius: 0 0 30px 30px;
    margin: auto;
    font: normal 18pt arial;
    margin-top: -30px;
}

.ar {
    margin-top: 200px;
    width: 350px;
}

.main > h1 {
    color: aqua;
}

